@import"./variables";
@import"./header";
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}


// -----------TopNavbar PC-------------
@media (min-width: 1410px)  {
.container {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-around;
}
.top-navbar {
  margin: 0;
  width: auto;
  background-color: #0c4b35;
  padding: 20px;
  height: 60px;
}
.top-navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 1410px;

  p {
    color: white;
    font-size: 14px;
  
  }
}
.top-navbar-contacts {
  display: flex;
  width: 770px;
  align-items: center;
  margin-left: 15px;
  margin-right: 35px;
  position: relative;

  div {
    display: flex;
  }
  p {
    display: flex;
    align-items: center;
    margin-right: 30px;
  } 
}
.top-navbar-language {
  display: flex;
  align-items: center;
}
.down-arrow-white {
  background-image: url("./images/icon-down-arrow-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7px;
  height: 3.818px;
  margin-left: 5px;
}
.email {
  background-image: url("./images/email-1.png");
  @include iconSizePC();
}
.phone-call {
  background-image: url("./images/phone-call-1.png");
  @include iconSizePC();
}
.location {
  background-image: url("./images/location-1.png");
  @include iconSizePC();
}
// -----------Navbar PC-------------
.navbar {
  margin: 0;
  width: auto;
  padding: 25px;
}
.navbar-menu {
  display: flex;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.menu {
  display: flex;
  max-width: 100%;
}
.menu li {
  width: 110px;
  list-style-type: none;
  position: relative;
}
.menu a {
  display: block;
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  @include font-nunito;
}
.btn {
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  @include font-nunito;
}
.mobile-navbar-btn {
  display: none;
}
.mob-btn {
  display: none;
}
}

@media (max-width:720px) {
  .container {
      max-width: 720px;
      width: 100%;
      margin: 0 auto;
  }
 
    .top-navbar-info {
      display: none;
    }
   
  .top-navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    max-width: 720px;
  }
  .top-navbar-contacts {
    max-width: 75%;
  }
  .top-navbar-language {
      max-width: 25%;
      margin-right: 25px
  
  }
  .navbar-menu {
      display: none;
  }
  .navbar-button {
      display: flex;
      justify-content: flex-end;
  }
  .mobile-navbar-btn {
      display: block;
  }
  .mob-btn {
      display: block;
      color: white;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      @include font-nunito (700, 16px, 20px)
  }
 
}
