@mixin iconSizePC ($width, $height, $display, $margin-right) {
  width: 25px;
  height: 25px;
  display: block;
  margin-right: 10px;
}

@mixin icon-phone-PC ($height, $width, $left, $top) {
  position: absolute;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  left: 25px;
  top: 8px;
}

@mixin icon-arrow-PC ($height, $width,$left, $top){
  position: absolute;
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
  left: 12px;
  top: 7px;
}

@mixin icon-phone-mobile ($display, $width, $padding) {
display: flex;
width: 40px;
padding: 7px 0px;
justify-content: center;
align-items: center;
gap: 10px;
}

@mixin font-nunito ($font-family, $font-weight, $font-size, $line-height) {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}